h1 {
  margin: 4% 6%;
  /* margin-left: 6%; */

  font-size: 50px;
  color: var(--dark-primary-color);
}

.row-recipes {
  width: 100%;

  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 40px;
}