section {
  background-image: url('/assets/images/manda-alo.png');

  width: 100vw;
  height: 50vh;

  position: relative;
}

section h1 {
  color: #FFF;

  font-size: var(--font-size-larger);

  width: 410px;

  position: absolute;

  top: 10%;
  left: 10%;
}